##Divisors

In [ ]:
n = 36
a = []
i = 2
while i * i <= n:
  if n % i == 0:
    a.append(i)
    c = n//i
    if c not in a:
      a.append(c)
  i += 1
print(a)

## Prime

In [ ]:
import numpy as np
def isprime(n):
  flag = True
  for i in range(2,int(np.sqrt(n))+1):
    if n % i == 0:
      flag = False
      break
  return flag
isprime(114)

## Prime Factors

In [ ]:
def isprdivisor(n):
  a = []
  for i in range(2,int(np.sqrt(n))+1):
    if isprime(i):
      if n % i == 0:
        a.append(i)
  return a

isprdivisor(780)

In [ ]:
# TC = O(sqrt(N)*log(N))
def isprdivisor(n):
  a = []
  for i in range(2,int(np.sqrt(n))+1):
    if n % i == 0:
      a.append(i)
    while n % i == 0:
      n = n // i
  return a

isprdivisor(780)

## HCF and LCM

In [4]:
def gcd(a,b):
  while (a > 0 and b > 0):
    if a > b:
      a %= b
    else:
      b %= a
  return b if a == 0 else a
a = 22
b = 7
hcf = gcd(a,b)
lcm = a*b / gcd(a,b)
hcf , lcm

(1, 154.0)

In [10]:
def fn3(a,b):
  if b == 0:
    return a
  return fn3(b,a%b)
fn3(15,30)

15

## Exponentiation

In [3]:
def myPow(x, n):
    if n < 0:
        return 1/myPow(x, -n)
    if n == 0:
        return 1
    elif n % 2 == 1:
        return x * myPow(x, n - 1)
    else:
        half_power = myPow(x, n // 2)
        return half_power * half_power
myPow(5,-4.5)

0.0016

##Sieve of Eratosthenes

In [ ]:
# TC = O(N) + O(N*log(log(N))) + O(N)
def countPrimes(n):
    # Create a boolean array to track prime numbers
    is_prime = [True] * n
    if n < 2:
        return 0
    is_prime[0] = is_prime[1] = False
    # Iterate through the numbers up to square root of n
    for i in range(2, int(n**0.5) + 1):
        if is_prime[i]:
            # Mark all multiples of i as non-prime
            for j in range(i*i, n, i):
                is_prime[j] = False

    # Count the prime numbers
    count = sum(is_prime)
    list_of_primes = [i for i in range(2,n) if is_prime[i]]
    return count, list_of_primes
countPrimes(100)

(25,
 [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97])

## Count of number having unique digits <br>given n where n means 10^n

    # for 0 digit, we have 1
    # for 1 digit, we have 9
    # for 2 digits, 9*9
    # for 3 digits, 9*9*8
    # for 4 digits, 9*9*8*7

    # n = 2 -> 9 * compute(1) -> 9*9
    # n = 3 -> 8 * compute(2) -> 8*9*9

## Count unique Numbers

In [8]:
def unique_no(n):
  def count(i):
    if i == 0:
      return 1
    elif i == 1:
      return 9
    else:
      return (11-i)*count(i-1)
  return sum([count(i) for i in range(n+1)])
unique_no(8)

2345851

In [25]:
def countNumbersWithUniqueDigits(n):
    if n == 0:
        return 1
    if n > 10:
        n = 10
    c = 1
    for i in range(1, n + 1):
        k = 9
        for j in range(1, i):
            k *= (10 - j)
        c += k
    return c
countNumbersWithUniqueDigits(8)

2345851

## Find the Missing Number<br>
there must be no duplicates

In [ ]:
n = 8
arr = [2,1,3,5,4,8,6,0]
missing_number = n*(n+1)//2 - sum(arr)
missing_number

7

Given an array nums containing n distinct numbers in the range **[0, n]**, return the only number in the range that is missing from the array.

In [ ]:
def miss_no(a):
  ret = 0
  n = len(a)
  for i in range(n):
    ret ^= i
    ret ^=arr[i]
  ret ^= n
  return ret
arr = [2,1,3,4,6,8,5,0]
miss_no(arr)

7

## Third Largest

In [ ]:
import math as m
def tlarge(a):
  n = len(a)
  l, s, t = a[0], a[1], -m.inf
  for i in range(2,n):
    if a[i] > l:
      t = s
      s = l
      l = a[i]
    elif a[i] > s and a[i] < l:
      t = s
      s = a[i]
    elif a[i] > t and a[i] < s:
      t = a[i]
  return t

arr = [2,1,3,6,5,5]
tlarge(arr)

3

## Remove Duplicates

In [70]:
def remove_duplicate_no(arr):
  n = len(arr)
  j = 0
  for i in range(1,n):
    if arr[i] != arr[j]:
        j += 1
        arr[j] = arr[i]
  return arr[:j+1]
arr = [1,2,3,4,5,5,6]
remove_duplicate_no(arr)

[1, 2, 3, 4, 5, 6]

## Kadane's Algo

In [86]:
def kadane_algo(arr):
  n = len(arr)
  maxx = float('-inf')
  summ = 0
  start = 0
  start_ , final_= 0, 0
  for i in range(n):
    if summ == 0:
      start = i
    summ += arr[i]
    if summ > maxx:
      maxx = summ
      start_  = start
      final_  = i
    if summ < 0:
      summ = 0

  print(arr[start_:final_+1])
  return maxx

arr = [2,8,-2,-10,2,-3]
kadane_algo(arr)

[2, 8]

10

## Rotate array (in place)

In [82]:
def rotate(arr,k):
  n = len(arr)
  k %= n
  return arr[-k:] + arr[:-k]
arr = [2,3,4,5,1]
rotate(arr,1)

[1, 2, 3, 4, 5]

## Move all zeros to end

In [91]:
def move_zeros(arr):
  n = len(arr)
  l,r = 0,1
  while r <= n-1:
    if arr[l] == 0 and arr[r] != 0:
      arr[l], arr[r] = arr[r], arr[l]
      l += 1
    elif arr[l] == 0 and arr[r] == 0:
      pass
    else:
      l += 1
    r += 1
  return arr
arr = [2,3,4,0,0,0,1]
move_zeros(arr)

[2, 3, 4, 1, 0, 0, 0]

## Union of two sorted array

In [57]:
def findUnion(arr1, arr2, n, m):
    i, j = 0, 0
    arr = []

    while i < n and j < m:
        if arr1[i] < arr2[j]:
            if not arr or arr[-1] != arr1[i]:
                arr.append(arr1[i])
            i += 1
        elif arr1[i] > arr2[j]:
            if not arr or arr[-1] != arr2[j]:
                arr.append(arr2[j])
            j += 1
        else:
            if not arr or arr[-1] != arr1[i]:
                arr.append(arr1[i])
            i += 1
            j += 1

    while i < n:
        if not arr or arr[-1] != arr1[i]:
            arr.append(arr1[i])
        i += 1

    while j < m:
        if not arr or arr[-1] != arr2[j]:
            arr.append(arr2[j])
        j += 1
   # print(list(a.union(b)))

    return arr
arr1 = [-9, -4, -1, -1, 0, 0, 5, 6, 8]
arr2 = [-7 ,-7, -6, -5, 4, 5]
findUnion(arr1,arr2,len(arr1),len(arr2))

[-9, -7, -6, -5, -4, -1, 0, 4, 5, 6, 8]

## Intersection of two sorted array

In [115]:
def intersec_arr(arr1, arr2):
  c = []
  n , m = len(arr1), len(arr2)
  i, j = 0, 0
  while i < n and j < m:
    if arr1[i] < arr2[j] and arr1[i] not in c:
      i += 1
    elif arr1[i] > arr2[j] and arr2[j] not in c:
      j += 1
    else:
      if arr1[i] not in c:
        c.append(arr1[i])
      i += 1
      j += 1
  # print(list(a.intersection(b)))
  return c

arr1 = [1,1,2,3,4,5]
arr2 = [2,3,4,4,5,6,7]
intersec_arr(arr1,arr2)

[2, 3, 4, 5]

## Max Consecutive Ones

In [116]:
def max_consecutive_ones(arr):
  max_count = 0
  count = 0
  for i in arr:
    if i == 1:
      count += 1
    else:
      max_count = max(max_count, count)
      count = 0
  return max(max_count , count)
max_consecutive_ones([1,1,0,1,1,1,0,1,1])

3

In [50]:
# To check whether we get a sirted array after rotating the array
def check(nums):
    l1 = len(nums)
    nums1 = nums.copy()
    nums1.sort()
    print(nums1)
    for i in range(l1):
        nums[:] = nums[-1:] + nums[:-1]
        if nums1 == nums:
            return True
    return False
check([3,4,5,1,2])

[1, 2, 3, 4, 5]
0
[2, 3, 4, 5, 1]
1
[1, 2, 3, 4, 5]

True

In [41]:
nums = [3,4,5,1,2]
nums[-2:] + nums[:-2]

[1, 2, 3, 4, 5]

In [2]:
def movezz(nums):
  n = len(nums)
  l = 0
  r = 1
  while r <= n-1:
      if nums[l] == 1 and  nums[r] != 1:
          nums[l] , nums[r] = nums[r], nums[l]
          l += 1
      elif nums[l] ==1 and nums[r] == 1:
          pass
      else:
        l += 1
      r += 1

  l, r = 0, 1

  while r <= n-1:
    if nums[l] == 2 and  nums[r] != 2:
        nums[l] , nums[r] = nums[r], nums[l]
        l += 1
    elif nums[l] == 2 and nums[r] == 2:
        pass
    else:
      l += 1
    r += 1
  return nums

movezz([2,0,0,1,2,0,1,1])

[0, 0, 0, 1, 1, 1, 2, 2]

# Sorting

In [6]:
def movezz(nums):
  set_nums = set(nums)
  k = len(set_nums)
  n = len(nums)
  for i in range(1,k):
    l = 0
    r = 1
    while r <= n-1:
        if nums[l] == i and  nums[r] != i:
            nums[l] , nums[r] = nums[r], nums[l]
            l += 1
        elif nums[l] == i and nums[r] == i:
            pass
        else:
          l += 1
        r += 1
  return nums

movezz([2,0,0,1,2,4,3,0,1,1,3,3,4])

[0, 0, 0, 1, 1, 1, 2, 2, 3, 3, 3, 4, 4]

In [7]:
def removeDuplicates(nums):
    n = len(nums)
    j = 1
    for i in range(1,n):
        if nums[i-1] != nums[i]:
            nums[j] = nums[i]
            j += 1
    return nums[:j]
removeDuplicates([0,0,1,1,1,2,2,3,3,4,4])

[0, 1, 2, 3, 4]

In [74]:
arr  = [3, -1, 2, -5, -2, 1]
n = len(arr)
arr1 = []
arr2 = []

# Separate positive and negative numbers
for i in range(n):
    if arr[i] < 0:
        arr2.append(arr[i])
    else:
        arr1.append(arr[i])

# Merge positive and negative numbers
a = arr1 + arr2

# Rearrange the merged array
result = []
half = (n + 1) // 2

for i in range(half):
    result.append(a[i])
    if i + half < n:
        result.append(a[i + half])

print("Merged array:", a)
print("Rearranged array:", result)

Merged array: [3, 2, 1, -1, -5, -2]
Rearranged array: [3, -1, 2, -5, 1, -2]

In [15]:
def twoOddNum(Arr, N):
    xor_result = 0

    # Step 1: XOR all elements to get xor_result which is the XOR of two odd occurring numbers
    for num in Arr:
        xor_result ^= num

    # Step 2: Find a set bit in xor_result (rightmost set bit)
    set_bit = xor_result & ~(xor_result - 1)

    # Step 3: Divide elements into two groups and find the odd occurring numbers
    num1 = 0
    num2 = 0
    for num in Arr:
        if num & set_bit:
            num1 ^= num
        else:
            num2 ^= num

    # Return the result in sorted order
    return sorted([num1, num2])

# Example usage
Arr = [4,2,1,2,4,3]
N = len(Arr)
twoOddNum(Arr, N)

-2

[1, 3]

In [5]:
def fn(i,n):
  if i > n:
    return
  print(i+1,"mjay")
  fn(i+1,n)
if __name__ == "__main__":
  fn(1,5)

2 mjay
3 mjay
4 mjay
5 mjay
6 mjay

In [11]:
# Without Backtracking
def fnn(i,n):
  if i < n:
    return
  print(i)
  fnn(i-1,n)
if __name__ == "__main__":
  fnn(10,1)

10
9
8
7
6
5
4
3
2
1

In [14]:
# With Backtracking
def fnnb(i,n):
  if i > n:
    return
  fnnb(i+1,n)
  print(i)
if __name__ == "__main__":
  fnnb(1,10)

10
9
8
7
6
5
4
3
2
1

In [24]:
def rotate(arr, l, r):
  if l >= r:
    return
  swap(arr, l , r)
  rotate(arr, l+1, r-1)
def swap(arr,a,b):
  arr[a], arr[b] = arr[b] , arr[a]
rotate([6,5,4,3,2,1],0,5)

In [62]:
nums = [6,4,5,2,1,3,3,1,2]
i = 0
while i < len(nums):
  t = nums[i]-1
  if nums[i] != nums[t]:
    nums[i],nums[t] = nums[t],nums[i]
  else:
    i += 1
print(nums)

[1, 2, 3, 4, 5, 6, 3, 1, 2]

In [59]:
# Recursion

# Sum of Numbers

# def fn1(m):
#   if m == 0:
#     return 0
#   return m%10 +fn1(m//10)

# fn1(54)

# Exponentiation
# def fn(x, n):
#     if n == 0:
#         return 1
#     return x * fn(x , n-1)

# Exponentiation
# def fn2(x, n):
#     if n == 0:
#         return 1
#     elif n < 0 :
#       return (1/x)*fn(x,n+1)
#     return x * fn(x , n-1)

# result = fn(2, -5)
# print(result)


# Decimal to binary
# def fn4(n):
#   if n ==1 :
#     return 1
#   return n%2 +10*fn4(n//2)

# fn4(13)

# Binary to Decimal
def fn5(n):
  def helper(n, i):
    if n == 0:
      return 0
    return (n%10)*2**(i) + helper(n//10,i+1)
  return helper(n, 0)

fn5(1101)

# Product of array
# def productOfArray(arr):
#   if len(arr) == 1:
#     return arr[0]
#   return arr[0] * productOfArray(arr[1:])
# productOfArray([5,1,8,4])

# Fibonacci Series
# def fib(n):
#     f = 0
#     s = 1
#     for i in range(2, n+1):
#         f,s = s, f+s
#     return s

# fib(10)

# Flatten array
# def flatten(arr):
#     res = []
#     for i in arr:
#         if type(i) is list:
#             res.extend(flatten(i))
#         else:
#             res.append(i)
#     return res

# flatten([[1,2],3,4,5,6,[[[[[[[[[[44]]]]]]]]]]])

13